---
http_interactions:
- request:
    method: get
    uri: http://api.chartbeat.com/historical/traffic/series/?apikey=123&fields=new,return,people&host=example.com&human=true&start=1407265832
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"192c01025f5b9c93f4728c70bd6600ee939341a2"'
    body:
      encoding: UTF-8
      string: '{"data": {"start": "2014-08-05 15:10:32", "frequency": 5, "end": "2014-08-07
        00:00:00", "example.com": {"series": {"new": [null, null, null, null,
        null, null, null, null, null, null, null, null, null, null, null, null, null,
        null, null, null, null, null, null, null, 1, 1, 2, 3, 1, 1, 1, 1, 1, null,
        2, 2, 2, 2, 1, 2, 2, 1, 2, 3, 4, 4, 4, 3, 3, 3, 3, 4, 3, 3, 2, 1, 1, 2, 1,
        null, null, null, null, null, null, null, 1, 1, 1, 1, 1, null, null, null,
        null, 1, 1, 1, 2, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2,
        2, 2, 3, 4, 2, 2, 2, 2, 2, 2, 2, 3, 4, 4, 4, 4, [...]
